
/* ----------------------- 表格页面 --------------------------- */

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline:none;
}

.display_hidden{
   display:none;
}

input[type="checkbox"] {
    min-width: 18px;
    min-height: 18px;
}

.panel {
    margin-bottom:5px;
}
.panel-default{
    padding:1%;
}

/*面板标题栏*/
.panel-heading{
    padding: 10px 10px 10px 15px;
    height:50px;
    border:1px solid #ddd;
    position:relative;
}
.panel-h3{
    font-size:18px;
    font-family:'微软雅黑';
    padding-top:5px;
    font-weight:bold;
    float:left
}

.panel-h3>i{
	font-size:20px;
	vertical-align:middle;
}

.tableControl{
	float:right;
	margin-top:-2px;
	margin-right:3px;
}

.tableControl.open::after{
    content: "";
    position: absolute;
    right: 8px;
    bottom: -8px;
    border-top: none;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #9EC9EF;
    z-index: 1003; 
}

.tableControl>.btn{
	height:32px;
}

.tableControl>.btn>i.fa-fw:before{
	font-size:18px;
    vertical-align:baseline;
}

.tableControl>.btn-tooltip{
	border-radius:4px!important;
}

.tableControl>.btn>i.fa-filter:before{
	font-size:18px;
    vertical-align:baseline;
}

.tableControl .tooltip-menu{
    max-height: 185px;
    min-width:160px;
    position: absolute;
    top: calc(100% + 5px);
    left: auto;
    right:0;
    background-color: #9EC9EF;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.tableControl .tooltip-menu>li{
	width:130px;
	padding:5px 10px 3px 0;
	margin:0 5px;
	white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
}

.tableControl .tooltip-menu>li>label{
	white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
}

.tableControl .tooltip-menu>li:first-child{
	padding: 5px 10px 5px 0;
	border-bottom:solid 2px #6DA2D0;
}

.tableControl .tooltip-menu>li+li{
	border-top:solid 1px #6DA2D0;
}

.tableControl .tooltip-menu>li+li:nth-child(2){
	border-top:none;
}

.tableControl .tooltip-menu>li+li.caption{
	padding:8px 10px 0 0;
	border-top:none;
}

.tableControl .tooltip-menu>li+li.caption:nth-child(2){
	padding:11px 10px 0 0;
}


.tableControl .tooltip-menu>li>input{
   min-width:18px;
   min-height:18px;	
   margin: 0 5px 0 10px;
   vertical-align: baseline;
}

.tableControl .tooltip-menu>li>label{
    margin-bottom:0;
}

.tableControl .tooltip-menu>li.caption>label{
	color:#f44336;
    margin-left:3px;
}

/*面板主体内容*/
.panel-body{
    padding:0;
    border:solid 1px #ddd!important;
}

.panel-body.table-responsive{
	width:100%;
	overflow:auto;
}

.panel-body.table-responsive>table{
	min-width:100%;
}

.panel-body.table-responsive>table+table{
	border-top: 2px solid #ddd!important;
}

.panel-body.table-responsive>table>thead>tr>th{
	border-bottom:1px solid #ddd;
	height:36px; /* 相当于设置了 min-height */
}

.panel-body.table-responsive>table>thead>tr.caption>th{
	margin-left:1%;
    text-align:left;
}

.panel-body.table-responsive>table>thead>tr>th>label{
	margin-bottom:0;
}

.panel-body.table-responsive>table>tbody>tr>td{
	border-bottom:1px solid #ddd;
	height:34px; /* 相当于设置了 min-height */
}

/* 使得表格数据若超出范围，显示滚动条 */
.panel-body.table-responsive>table>tbody>tr>td,
.panel-body.table-responsive>table>tbody>tr>th,
.panel-body.table-responsive>table>tfoot>tr>td,
.panel-body.table-responsive>table>tfoot>tr>th,
.panel-body.table-responsive>table>thead>tr>td,
.panel-body.table-responsive>table>thead>tr>th{
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
}

/* 使得表格数据若超出范围，显示滚动条 */
.table-responsive>table>tbody>tr>td.maxWidth,
.table-responsive>table>tbody>tr>th.maxWidth,
.table-responsive>table>tfoot>tr>td.maxWidth,
.table-responsive>table>tfoot>tr>th.maxWidth,
.table-responsive>table>thead>tr>td.maxWidth,
.table-responsive>table>thead>tr>th.maxWidth{
    white-space:normal;  
    word-wrap:break-word;
    word-break:break-all;
}


/* ----------------------- 分页页数css设置-------------------------- */
.pagination {
    margin: 10px 0 0 0;
    line-height:normal;
}
.pagination.left{
    padding-left:6px;
    border-color: #337ab7;
}
.pagination>li>a {
	height:33px;
    padding: 5px 8px;
    margin-bottom:3px;
    border: 1px solid #ccc;
}
.pagination>li:last-child>a {
    padding: 5px 8px 1px 8px;
}
@media (max-width:418px) {
	.pagination>li>a {
       margin-bottom:5px;
    }
   .pagination>li:last-child>a {
       margin-bottom:3px;
    }
}

