.btn-bg-white{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-radius: 2px;
	font-size: 12px;
	color: #333;
	background: #fff;
	border: 1px solid #bbb;
	cursor: pointer;
}
.btn-bg-white-large{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	border-radius: 2px;
	font-size: 14px;
	color: #333;
	background: #fff;
	border: 1px solid #bbb;
	cursor: pointer;
}
.btn-bg-white:hover,.btn-bg-white-large:hover{
	color: #59f;
	border-color: #59f;
	text-decoration: none;
}
.btn-bg-white-large .btn-icon-large{
	font-size: 20px;
	margin: 9px 5px 0 0;
	float: left;
	color: #59f;
}

.row-bg-gray{
	background:#eee;
	padding: 10px;
}

.dynamic-table{
	width:100%;
}
caption{
	font-size: 16px;
	background: #eee;
	padding-left: 10px;
}
.dynamic-table thead{
	font-size:12px;
}
.dynamic-table tr{
	border-bottom: 1px solid #eee;
}
.dynamic-table input{
	display: block;
	width: 90%;
	height: 30px;
	padding: 6px 12px;
	font-size: 12px;
	line-height: 30px;;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	margin-left:5%;
}
.dynamic-table input.inline-input{
	width:50px;
	display:inline-block;
	margin-right:5px;
}
.dynamic-table td,.dynamic-table th{
	height:40px;
	position: relative;
}
.dynamic-table tfoot a{
	margin-right:10px;
}
.dynamic-table .batchSetting{
	display:none;
	position: absolute;
	left: 0;
	top: 3px;
	width: 550px;
	margin-left: 60px;
	background: #fff;
}
.dynamic-table .batchSetting.active{
	display:block;
}
.dynamic-table tfoot td{
	text-align:left;
}
span.table_icon{
	display: inline-block;
	padding: 0 4px;
	margin-right: 5px;
	border: 1px dotted #e31436;
	vertical-align: 6px;
	font-size: 12px;
	color: #e31436;
}
.cursor-pointer,
.cursor-pointer:hover{
	cursor: pointer;
}










