<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.card.manager.factory.auth.mapper.OperatorMapper">
	<!-- Result Map -->
	<resultMap id="operator" type="com.card.manager.factory.auth.model.Operator">
		<result column="optid" property="optid" />
		<result column="badge" property="badge" />
		<result column="optName" property="optName" />
		<result column="password" property="password" />
		<result column="status" property="status" />
		<result column="lastLogin" property="lastLogin" />
		<result column="errCount" property="errCount" />
		<result column="ipAddress" property="ipAddress" />
		<result column="partId" property="partId" />
		<result column="needChangePwd" property="needChangePwd" />
		<result column="locked" property="locked" />
		<result column="createTime" property="createTime" />
		<result column="updateTime" property="updateTime" />
		<result column="opt" property="opt" />
	</resultMap>

	<!-- 获取角色菜单 -->
	<select id="selectByLoginInfo" resultMap="operator">
		select * from auth_operator where badge = #{userName} and password=#{password};
	</select>

</mapper>